DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://TON-SITE.onrender.com/auth/callback
DISCORD_GUILD_ID=1554076915663380520
DISCORD_ROLE_ID=1554077319004557372
DISCORD_LEAD_ROLE_ID=1554077271898456134
DISCORD_STAFF_ROLE_ID=1554185110926925844
SESSION_SECRET=une-longue-phrase-aleatoire
# Optionnel mais recommandé : rôles mis à jour instantanément
DISCORD_BOT_TOKEN=
