DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://TON-SITE.onrender.com/auth/callback
DISCORD_GUILD_ID=1554076915663380520
DISCORD_ROLE_ID=1554077319004557372
ADMIN_PASSWORD=choisis-un-mot-de-passe
SESSION_SECRET=une-longue-phrase-aleatoire
